@import 'partials/reset';
@import 'partials/colours';
@import 'partials/typography';
@import 'partials/layout';

body {
    background-color: $white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center center;
}